<ion-content class="aesthetic-bg" scroll-y="false">
  
  <div class="pattern-overlay"></div>

  <div class="home-style-header">
    <div class="logo-wrapper">
      <img src="assets/icon/logo.png" class="app-logo-img">
    </div>
  </div>

  <div class="main-container">
    <div class="text-section ion-text-center">
      <h1 class="title">Skin<span class="highlight">Diary</span></h1>
      <p class="subtitle">
        Tracking skincare harian untuk<br>
        raih wajah impianmu!
      </p>
    </div>

    <div class="button-section">
      <ion-button expand="block" (click)="goNext()" mode="ios" class="glow-btn">
        Mulai Sekarang
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>