<ion-tabs #myTabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Rutinitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="checklist" href="/tabs/checklist">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Ceklist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progress" href="/tabs/progress">
      <ion-icon name="sparkles"></ion-icon>
      <ion-label>Progres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Riwayat</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>